html, body {
	font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif; 
	margin:0; 
	padding:0; 
	height:100%;
}

ul {
	list-style-type: none;
}

#content {
	margin-top: 51px;
}

.full {
	margin:0; 
	padding:0; 
	height:100%;
	margin: 0 auto;
}

.panel-65 {
	margin: 0 auto;
	width: 65%;
	margin-top: 50px;
}

.div-inline {
	display: inline-block;
}

.text-centered {
	text-align: center;
}

/* left hand navbar */
.side {
	background-color: #f5f5f5;
}

/* leaderboard */
#leaderboard {
	margin: 0 auto;
	width: 65%;
}

/* contents */
/*table tr:hover:not(:first-child) {
	cursor: pointer;
	background-color: #80dfff;
}*/