/* general */

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lato",
    "Helvetica Neue",
    Arial,
    Helvetica,
    sans-serif;
}

body {
    padding-top: 90px;
}

ul {
    list-style-type: none;
}

h1 {
    text-align: center;
}

/* containers */

.dead-link, .dead-link:visited, .dead-link:hover, .dead-link:active {
  color: #9d9d9d !important;
  cursor: default !important;
}

#content {
    margin-bottom: 51px;
	/*margin-top: 51px;*/
    margin: 0 auto;
	width: 75%;
}
@media screen and (max-width: 768px) {
    #content {
        width: 85%
    }
}
@media screen and (max-width: 480px) {
    #content {
        width: 95%
    }
}

.full {
    height: 100%;
    margin: 0 auto;
    margin: 0;
    padding: 0;
}

.panel-65 {
	margin: 0 auto;
	margin-bottom: 50px;
}

.div-inline {
    display: inline-block;
}

.text-centered {
    text-align: center;
}

/* navbar */
.student-nav, .parent-nav, .teacher-nav {
	visibility: hidden;
}

.navbar-nav .badge {
    background-color: #e23442;
}

.side {
    background-color: #F5F5F5;
}

.navbar-fixed-top {
    padding-right: 10px !important;
    padding-left: 5px !important;
}

.logout {
	margin-top: 7px;
    margin-right: 20px;
}

/* leaderboard */

#leaderboard {
    margin: 0 auto;
}

.you {
    background-color: #337ab7 !important;
    color: white;
}

/* login */
#login-page {
	background-image: url("../img/tulips.jpg");
    background-size: cover;
    padding-top: 35px;
}

.login-header {
	margin: 0 auto;
}

#login-header h1 {
	font-size: 50px !important;
}

.login-error {
	visibility: hidden;
}

.panel-login {
    border-color: #CCC;
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.panel-login > .panel-heading {
    color: #00415D;
    border-color: #FFF;
    background-color: #FFF;
    text-align: center;
}

.panel-login > .panel-heading a {
    color: #666;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login > .panel-heading a.active {
    color: #029F5B;
    font-size: 18px;
}

.panel-login > .panel-heading hr {
    height: 1px;
    clear: both;
    margin-top: 10px;
    margin-bottom: 0;
    border: 0;
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="email"],
.panel-login input[type="password"],
.panel-login input[type="text"] {
    height: 45px;
    border: 1px solid #DDD;
    font-size: 16px;
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input:focus,
.panel-login input:hover {
    border-color: #CCC;
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-login {
    height: auto;
    padding: 14px 0;
    color: #FFF;
    border-color: #59B2E6;
    background-color: #59B2E0;
    outline: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
}

.btn-login:focus,
.btn-login:hover {
    color: #FFF;
    border-color: #53A3CD;
    background-color: #53A3CD;
}

.forgot-password {
    color: #888;
    text-decoration: underline;
}

.forgot-password:focus,
.forgot-password:hover {
    color: #666;
    text-decoration: underline;
}

.btn-register {
    height: auto;
    padding: 14px 0;
    color: #FFF;
    border-color: #1CB94A;
    background-color: #1CB94E;
    outline: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
}

.btn-register:focus,
.btn-register:hover {
    color: #FFF;
    border-color: #1CA347;
    background-color: #1CA347;
}

/* messages */
.clickable-row:hover {
    background-color: #80DFFF;
    cursor: pointer;
}

div.messages-buttons {
    float: right;
    margin-top: 5px;
}

.message-content textarea {
    width: 100%;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: #5C5C5C;
}

/* editor */
.student-editor, .parent-editor, .teacher-editor {
    visibility: hidden;
}

.rubric {
    border-left: 1px solid #ddd;
    overflow-y: scroll;
    max-height: 440px;
}