<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- jQuery Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css">

    <!-- our own css -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel='stylesheet' type='text/css'>
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    {% block head %}{% endblock %}
</head>

<body>
    <!-- begin student navbar -->
    <nav id="student-nav" class="navbar navbar-inverse navbar-fixed-top student-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-student" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/student-homepage">CoderGarten</a>
        </div>
        <div id="navbar-student" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/student-homepage"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="/assignments"><span class="glyphicon glyphicon-pencil"></span> Assignments</a></li>
            <li><a href="/leaderboard"><span class="glyphicon glyphicon-stats"></span> Leaderboards</a></li>
            <li><a href="/messages"><span class="glyphicon glyphicon-envelope"></span> Messages <span class="badge">5</span></a></li>
            <li><a href="/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="dead-link" href="#">Hi, saitama! <span style="color:red">Lv. 9001</span></a></li>
            <li><div id="student-logout" class="logout">
                  <button id="student-logout-button" type="button" class="btn btn-primary">Logout</button>
                </div>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <!-- end student navbar -->

    <!-- begin parent navbar -->
    <nav id="parent-nav" class="navbar navbar-inverse navbar-fixed-top parent-nav">
      <!--<div class="container">-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-parent" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/parent-homepage">CoderGarten</a>
        </div>
        <div id="navbar-parent" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/parent-homepage"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="/leaderboard"><span class="glyphicon glyphicon-stats"></span> Leaderboards</a></li>
            <li><a href="/messages"><span class="glyphicon glyphicon-envelope"></span> Messages <span class="badge">5</span></a></li>
            <li><a href="/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="dead-link" href="#">Hi, one!</a></li>
            <li><div id="parent-logout" class="logout">
                  <button id="parent-logout-button" type="button" class="btn btn-primary">Logout</button>
                </div>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      <!--</div>-->
    </nav>
    <!-- end parent navbar -->

    <!-- begin teacher navbar -->
    <nav id="teacher-nav" class="navbar navbar-inverse navbar-fixed-top teacher-nav">
      <!--<div class="container">-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-teacher" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/teacher-homepage">CoderGarten</a>
        </div>
        <div id="navbar-teacher" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/teacher-homepage"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="/teacher-assignments"><span class="glyphicon glyphicon-pencil"></span> Assignments</a></li>
            <li><a href="/leaderboard"><span class="glyphicon glyphicon-stats"></span> Leaderboards</a></li>
            <li><a href="/messages"><span class="glyphicon glyphicon-envelope"></span> Messages <span class="badge">5</span></a></li>
            <li><a href="/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="dead-link" href="#">Hi, murata!</a></li>
            <li><div id="teacher-logout" class="logout">
                  <button id="teacher-logout-button" type="button" class="btn btn-primary">Logout</button>
                </div>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      <!--</div>-->
    </nav>
    <!-- end teacher navbar -->


    <div class="container-fluid">
        <!--<div class="row full">
            <div class="col-sm-3 col-md-2 sidebar side">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">CoderGarten</a></li>
                    <li><a href="#">Assignments</a></li>
                    <li><a href="#">Leaderboards</a></li>
                    <li><a href="#">Messages</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>

       </div>-->
        <div id="content">
            {% block content %}{% endblock %}
        </div>

    </div>

</body>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- jQuery Datatables-->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>

<!-- bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>



<!-- our own js -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<div id="footer">
  {% block footer %}
  {% endblock %}
</div>

</html>