<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
	
	<!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-3.3.6-dist/css/bootstrap.min.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/main.css') }}" rel='stylesheet' type='text/css'>
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    {% endblock %}
</head>

<body>
    <div class="container-fluid full">
        <div class="row full">
            <div class="col-sm-3 col-md-2 sidebar side full" style="height:100%;">
                <ul class="nav nav-sidebar">
                    <li class="active">
                        <a href="#">CoderGarten</a>
                        <span class="sr-only">{current}</span>
                    </li>
                    <li><a href="#">Assignments</a></li>
                    <li><a href="#">Leaderboards</a></li>
                    <li><a href="#">Messages</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
    	   <div id="content">{% block content %}{% endblock %}</div>
       </div>
    </div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
</body>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script src="{{ url_for('static', filename='bootstrap-3.3.6-dist/js/bootstrap.min.js') }}"></script>
</html>