{% extends 'main.html' %}

{% block title %}
	Welcome to CoderGarten!
{% endblock %}
<!----Assignment button pops up modal that shows a list of students that you can assign students--->
{% block content %}
    <div class="column">
        <section class="panel panel-default panel-65">
            <header class="panel-heading">
                <h3 class="panel-title">Assigned</h3>
            </header>

            <div class="panel-body">
                <table class="table table-responsive">
                    <tr></tr>
                    <tr>
                        <td>
                            <div class="col-md-3">Python 1 - Variables and Printing</div>
                                <div class="col-md-7">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="75"
                                        aria-valuemin="0" ariavaluemax="100" style="width:75%">
                                        8/12 Students Completed
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
		    			        <button type="button" class="btn btn-xs btn-default">View Assignments</button>
		    		        </div>
                        </td>
                    </tr>

                    </tr>
                        <td>
                            <div class="col-md-3">Python 2 - Loops</div>
                                <div class="col-md-7">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="50"
                                        aria-valuemin="0" ariavaluemax="100" style="width:50%">
                                        6/12 Students Completed
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
		    			        <button type="button" class="btn btn-xs btn-default">View Assignments</button>
		    		        </div>
                        </td>
                    </tr>
                </table>
            </div>
        </section>

    <section class="panel panel-default panel-65">
            <header class="panel-heading">
                <h3 class="panel-title">Unassigned</h3>
            </header>

                <div class="panel-body">
                <table class="table table-responsive" style="border-collapse:collapse;">
                    <tr></tr>
                    <tr>
                        <td>
                            <div class="col-md-3">Python 2 - Loops</div>
                                <div class="col-md-7">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="50"
                                        aria-valuemin="0" ariavaluemax="100" style="width:0%">
                                        0%
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
		    			        <button type="button" class="btn btn-xs btn-default"
                                data-toggle="modal" data-target="#teachmodal">Assign</button>		    		        </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="col-md-3">Python 3 - Functions</div>
                                <div class="col-md-7">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="50"
                                        aria-valuemin="0" ariavaluemax="100" style="width:0%">
                                        0%
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
		    			        <button type="button" class="btn btn-xs btn-default"
                                data-toggle="modal" data-target="#teachmodal">Assign</button>
		    		        </div>
                        </td>
                    </tr>


                </table>
            </div>

        <div id="teachmodal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Assign Work</h4>
                        <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Assign</button>

                    </div>
                    <div class="modal-body">
                        Select students here

                    </div>

                </div>

            </div>



        </div>
    </section>
    </div>
{% endblock %}