{% extends 'main.html' %}

{% block title %}
View Message | CoderGarten
{% endblock %}

{% block content %}
<div class="messages-buttons">
    <button class="btn btn-primary" onclick="goToLink('/message/new')">Reply</button>
</div>
<h1>View Message</h1>
<div class="message-content">
    <b>From</b>: John Smith<br>
    <b>To</b>: Tina Droptables, Bobby Droptables, David Droptables<br>
    <b>Subject</b>: Re: Boby's Progress<br>
    <b>Course</b>: Intro to Programming<br>
    <b>Assignment</b>: SQL 1 - Tables<br>
    <hr>
    <p>
        Mrs. Tables,<br>
        <br>
        I now realize that Bobby is not at fault for the database breaking; curiosity is definitely a good quality for programmers. We have implemented safer database procedures and your son can now redo the assignment for full credit <u><b>using a sanitized name</b></u>.<br>
        As a disclaimer, if this happens again there will be no more grace periods as there will be no course.<br><br>
        Regards,<br>
        John Smith
    </p>
</div>
{% endblock %}